html, body {

}

.container {
	width : 30%;
	margin : 0 auto;
}

.form {
	margin : 12px 18px;
}

.form > .field {
	margin-left : 30%;
	margin-bottom: 20px;
}

.form button{
	padding: 8px 20px;
	border-radius: 5px;
	cursor: pointer;
	opacity : 0.7;
	width: 85px;
	margin-left: 146px;
}
.form button:hover {
	opacity: 1;
};